@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.cdnfonts.com/css/porter-sans-block');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header{
    /* padding:2rem 9%; */
    /* top: -40px; left: 0; right: 0; */
    z-index: 1000;
    /* box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #884B39;
    
}

.header .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-decoration: none;
 
}

.header .navbar .container .row .col img
{
    width: 70px;
    height: 70px;
}

.header .navbar .d-flex 
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.header .navbar a{
    font-size: 20px;
    color: #F9DFBA;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    
}

.header .navbar a:hover{
    color: white;

}

.header .navbar .dropdown 
{
    bottom: 20px;
    /* margin-left: 10px; */
}

.header .navbar .dropdown .btn
{
    color: #F9DFBA;
    margin-top: 40px;
    font-size: 20px;
    background-color: #884B39;
    
}

.header .navbar .dropdown a:hover
{
    background-color: #884B39
}

.home img
{
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.home .container .row .col h1
{
    position: absolute;
    left: 120px;
    bottom: 400px;
    font-size: 48px;
    font-family: 'italianno', sans-serif;
    color: #884B39;
}

.home .container .row .col h3
{
    position: absolute;
    left: 110px;
    bottom: 240px;
    font-family: 'Porter Sans Block', sans-serif;
    font-size: 64px;
    text-align: left;
    color: #884B39;
}

.home .container .row .col a
{
    position: absolute;
    left: 250px;
    bottom: 130px;
    font-size: 20px;
    background-color: #C48154;
    color: white;
    border-radius: 50px;
}

.home .container .row .col a:hover
{
    color: #884B39;
}

.desc-home 
{
    background-color: #C48154;
}

.desc-home .row .col img
{
    margin-left: -100px;
}

.desc-home .row .col h3
{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #FFC26F;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    bottom: -320px;
    left: 820px;
}

.desc-home .row .col h4
{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    bottom: -550px;
    margin-left: -75px;
}

.desc-home .container .row .col a
{
    position: absolute;
    font-size: 20px;
    background-color: #F9DFBA;
    color: black;
    border-radius: 50px;
    bottom: -700px;
    right: 350px;
    align-items: center;
}

.desc-home .container .row .col a:hover
{
    color: #C48154;
}

.exam-product
{
    background-color: #F9DFBA;
    
}

.exam-product .container .row .col img
{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.exam-product .container .row .col h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;  
    color: #FFC26F;
    text-shadow: 2px 2px 2px black;
}
.exam-product .container .row .col h4
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;  
    color: #C48154;
}
.exam-product .container .row .col a
{
    font-size: 15px;
    background-color: #C48154;
    border-radius: 50px;
    color: white;
    align-items: center;
} 

.exam-product .border 
{
    /* background-color: #C48154;
    position: fixed;
    height: 125px;
    top: 220px; */
}

.form-contact
{
    background-color: #C48154;
}

.form-contact h1
{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 900;   
    color: #FFC26F;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.form-contact .container button{

    position: relative; 
    font-size: 25px;
    background-color: #884B39;
    border-radius: 10px;
    margin-top: 40px;
}

.footer 
{
    background-color: #884B39;
}

.footer .container .row .col h3
{
    color: #FFC26F;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 900; 
}

.footer .container .row .col h4
{
    color: #FFFFFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-align: justify;
}

.footer .container .row .col .fa
{
    color: #F9DFBA;
}

.footer .container .row .col a
{
    color: #FFFFFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: justify;
    text-decoration: none;
}
.footer .container .row .col .social-icons .fa a
{
    color: #FFFFFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: justify;
}

#menu-btn{
    
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
