@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #f9dfba;
}

.navbar {
  background-color: #884b39;
}

.header .navbar .dropdown .btn
{
    color: #F9DFBA;
    background-color: #884B39;
    
} 

footer {
  padding: 20px;
  background-color: #884b39;
  color: #ffffff;
}

footer .judul {
  color: #ffc26f;
}
.judul-atas h1{
  text-shadow: 1px 1px 10px black;
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: #FFC26F;
  font-family: "Poppins" ,sans-serif;
  font-size: 70px;
  font-weight: bolder;
}
.judul-atas  h5{
  color: #C48154;
  font-family: 'poppins';
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 30px;
} 

.kerajinan {
  text-align: justify;
}

.kerajinan h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffc26f;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.kerajinan h5 {
  color: #C48154;
  font-size: medium;
  font-weight: bold;
}

.kerajinan .btn {
  background-color: #c48154;
  color: #fff;
  border-radius: 50px;
}

.rectangle {
  width: 12px;
  height: 1750px;
  background-color: #884b39;
}

.rekomendasi h1 {
  color: #c48154;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
}

.rekomendasi h3 {
  color: #884b39;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
}

h2 {
  color: #c48154;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  text-align: left;
}

.border {
  width: auto;
  height: 600px;
  flex-shrink: 0;
  background: #c48154;
  box-shadow: 5px 5px 39px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.komen {
  padding: 2rem;
  padding-left: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffc26f;
  font-family: Poppins;
  font-weight: 900;
  font-size: 30px;
}

.profil {
  padding-left: 8rem;
}

.jkomen {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffc26f;
  font-family: Poppins;
  font-weight: 900;
  font-size: 20;
}

.isikomen {
  color: #f9dfba;
}

.footer {
  background-color: #884b39;
}

.footer .credit {
  padding: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: #f9dfba;
}

.footer .row .col-3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffc26f;
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
}

.bi {
  color: #f9dfba;
  font-size: 20px;
}
